html {
    /* background: linear-gradient(0deg, rgb(132, 154, 255) 0%, rgb(179, 240, 255) 100%) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    /* opacity: 0; */
    background-color: rgba(0,204,255,0);
}

#topNavbar {
    border: 2px solid silver;
    border-radius: 10px;
}

#navitems {
    margin: 0 15px 0 15px;
}

#bodyContent{
    padding-bottom: 2%;
}

#paraInfo {
    border: 2px solid silver;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    line-height: 1.6;
}

#carouselDiv{
    padding: 1% 0 0 0;
}

#introSection{
    margin-top: 2%;
}

#introBox{
    border: 2px solid grey;
    background-color: rgb(221, 221, 221);
    border-radius: 15px 15px 15px 15px;
    padding: 1% 1% 0 1%;
    margin: 0px 10px 0 10px;
}

#contactInfo{
    border: 2px solid grey;
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    padding: 20px;
}

#copyEmail{
    text-align: center;
}

.row{
    min-height: 200px;
}

/* #leftintro{
    background-color: bisque;
    border-radius: 10px 15px 15px 10px;
    padding: 1% 1% 0 1%;
}

#rightintro{
    background-color: bisque;
    border-radius: 15px 10px 10px 15px;
    padding: 1% 1% 0 1%;
} */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 10px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

img{
    border: 3px solid #818181;
    border-radius: 70px;
    padding: 25px;
    margin: 10px;
}