{% extends "base.html" %}

{% block content %}

<div id="introSection" class="container-fluid">
    <div class="row">
        <div id="leftIntro" class="col">
            <img src="static/images/HTML5-Icon.png" height="200px">
            <img src="static/images/Javascript-shield.png" height="200px">
            <img src="/static/images/react-Icon.png" height="200px" >
            <img src="/static/images/Angular_Icon.png" height="200px" >
            <img src="/static/images/Flask_Icon.png" height="200px" >
        </div>

        <div id="introBox" class="col-8">
            <h1 style="text-align: center;">About me</h1>
            <p id="paraInfo">I was born and live in Chicago, Illinois but I graduated from college on June 2020 at Luther College in Decorah, Iowa. 
                From my time in college and past work expeiences I acquired skills and knowledge that have contribute in forming me into a reliable programmer in mutilple languages and in understanding the professional workflow.
                In terms of programming I am experienced in <b> Python, JavaScript, HTML5, Bootstrap, Java, C++, SQL, flask, and unit testing</b>.
                I've also have fundemental knowledge of <b>Docker, Angular, and React.</b> 
                In my college years I have obtain the skills to professional use linux's terminal, use github and its commands, and using an virtual machine.
            </p>
            <p id="paraInfo">
                I also seek opportunities to improve myself as a computer scienctist. 
                In the workspace environment I will seek offers that will give me fundementals of new programming languages or help me improve languages that I am already confident with.
                I can work independent on a project or I can work within a group, I have expeiences with both sides.
                And with that experience I know how important it is to have clear understanding with clients and with coworkers
                I'm also expeienced with talking to clients on their needs when they are not very tech savvy, and if needed I can explain technical concepts to a point where non-computer scienctist can understand. 
            </p>
        </div>
        
        <div id="rightIntro" class="col">
            <img src="/static/images/DockerIcon.png" height="200px" >
            <img src="/static/images/SQL_Icon.png" height="200px" >
            <img src="/static/images/pythonIcon.png" height="200px" >
            <img src="/static/images/java-icon.png" height="200px" >
            <img src="/static/images/Cpp_Icon.png" height="200px">
        </div>
    </div>
</div>



{% endblock %}