{% extends "base.html" %}

{% block content %}

<div id="introSection" class="container-fluid">
    <div class="row">
        <div id="leftIntro" class="col"></div>
        <div id="introBox" class="col-8">
            <h1>Hello, my name is Eros Casas</h1>
            <p>I was born and live in Chicago, Illinois but I graduated from college on June 2020 at Luther College in Decorah, Iowa. 
                From my time in college and past work expeiences I acquired skills and knowledge that have contribute in forming me into a reliable programmer in mutilple languages and in understanding the professional workflow.
                In terms of programming I have 5 years of python, 4 years of javascript, 4 years of HTML5, and 2 years of SQL with data science.
                I've also have fundemental knowledge of Docker, Angular, and React. 
                In my college years I have obtain the skills to professional use linux's terminal, use github and its commands, and use unit testing on code created by myself or others.
            </p>
            <p>
                I also seek opportunities to improve myself as a computer scienctist. 
                In the workspace environment I will seek offers that will give me fundementals of new programming languages or help me improve languages I already know of.
                I can work independent on a project or I can work within a group, I have expeiences with both sides.
                I'm also expeienced with talking to clients on their needs when they are not very tech savvy, and if needed I can explain technical concepts to a point where non-computer scienctist can understand. 
            </p>
        </div>
        <div id="rightIntro" class="col"></div>
    </div>
</div>



{% endblock %}