<html>
    <head>
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/primary">Primary infomation</a>
        <a href="/blueprint">Blueprint infomation</a>
        <a href="/parts">Resource to build</a>
    </div>
    <span onclick="openNav()">open</span>

    <body style="padding-top:3%">
        {% block content %}
        {% endblock %}

        <script src="static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.bundle.js"></script>
        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</html>