<html>
    <head>
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="shortcut icon" href="#" />
    </head>

    <body id="blockContent">
    <!-- <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/primary">Primary infomation</a>
        <a href="/blueprint">Blueprint infomation</a>
        <a href="/parts">Resource to build</a>
    </div>
    <button id="sidebutton" type="button" class="btn btn-light" onclick="openNav()">open</button> -->

    <nav id="topNavbar" class="navbar bg-dark navbar-dark animate slideIn" style="margin-bottom:16px">
      <a class="navbar-brand glyphicon glyphicon-home" href="#"></a>
      <button class="navbar-toggler collapsed " type="button" data-toggle="collapse" data-target="#x" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse animate slideIn" id="x" >
        <ul class="nav navbar-nav" style="visibility: visible;">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact me</a>
          </li>
        </ul>
      </div>  
    </nav>


    

        {% block content %}
        {% endblock %}

        <script src="static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="static/js/popper.min.js"></script>
        <script src="static/js/bootstrap.bundle.js"></script>
        <script src="static/js/customScripts.js"></script>
    </body>
</html>