{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="col-1"></div>
    <div id=contactInfo class="col align-self-center"> 
        <p class="align-self-center text-center">The best way to contact me is by emailing me at </p>
        <div id="copyEmail">
            <input type="text" id="emailValue" value="ecasas182015@gmail.com"> <button onclick="copyemailfunc('emailValue')" type="button" class="btn btn-outline-primary">Copy</button>
        </div> 
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}