{% extends "base.html" %}

{% block content %}

<div class="row">
    <h1 class="col align-self-start text-center">
        <a href="https://github.com/casaer01">
            <img src="static/images/GitHub_Logo_White.png" height="200px" >
        </a>
    </h1>
    <h1 class="col align-self-center text-center">
        <a href="https://my.indeed.com/p/erosc-6txx4nv">
            <img src="static/images/indeedLogo.jpeg" height="200px" >
        </a>
    </h1>
    <h1 class="col align-self-end text-center">third</h1>
    
</div>

{% endblock %}