{% extends "base.html" %}

{% block content %}


<!-- Button trigger modal -->
<div class="text-center">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
        Welcome!
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Welcome</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Each icon will take you to a different website thats related to the icon. 
                The Indeed icon will take you to my indeed profile, the github profile will redirect you to my github profile with projects on display, and the resume icon will let you download my resume onto your computer.
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="overrallBox">
    <div class="row" >
        <h1 class="col align-self-start text-center">
            <a href="https://github.com/casaer01">
                <img src="static/images/GitHub_Logo.png" height="200px" >
            </a>
        </h1>
        <h1 class="col align-self-center text-center">
            <a href="https://my.indeed.com/p/erosc-6txx4nv">
                <img src="static/images/indeedLogo.jpeg" height="200px" >
            </a>
        </h1>
    </div>

    <div class="row">
        <h1 class="col align-self-center text-center">
            <a href="{{ url_for('download_file') }}">
                <img src="static/images/resumeIcon.png" height="200px" >
            </a>
        </h1>  
    </div>
</div>
{% endblock %}